x64/
.*

!.gitignore
ChessProgram/ChessProgram.vcxproj.filters
ChessProgram/ChessProgram.vcxproj.user
ChessProgram/packages
*.user
ChessProgram/tests/ChessEngineUnitTests/ChessEngineUnitTests.vcxproj.filters
ChessGame/StateTransitionDiagram.txt
ChessProgram/enc_temp_folder/1b5117709f3283dea19583c03364a525/Board.cpp
